.light__theme {
    background-color: rgba(29, 140, 160, 0.2);
}

// DARK THEME


.dark__theme {
    background-color: var(--title-color);

    .card__btn {
        color: var(--accent-color);
        background: var(--title-color);
    }

    .card__info {
        background-color: rgba(203, 230, 234, 0.792);
    }

    .menu__list {

        background-color: rgba(203, 230, 234, 0.792);

    }

    .logo {
        color: rgba(7, 32, 36, 0.954)
    }

}

.board {
width: 800px;
height: 200px;

}

.hero__btn {
    width: 220px;
    height: 50px;
    position: absolute;
    margin: 20px;
    z-index: 100;
    top: 170px;
}