.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 1280px;
  // @media screen and (min-width: 480px) {
  //   width: 480px;
  //   margin: 0 auto;
  // }
  // @media screen and (min-width: 768px) {
  //   width: 768px;
  //   padding: 0 32px;
  // }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    // padding: 0 16px;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
