.fav-nav{
  display: flex;
  justify-content: center;

}
.watched-btn{
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 10px;
  height: 42px;
  width: 148px;
}
.queue-btn{
  text-transform: uppercase;
  cursor: pointer;
  height: 42px;
  width: 148px;
}