.header__container {
  display: flex;
  align-items: center;
  //   justify-content: space-between;
  //   justify-content: start;
}

.logo {
  display: inline-block;
  cursor: pointer;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 27px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform var(--transition-duration) var(--transition-timing);

  padding-top: 26px;
  padding-bottom: 26px;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.logo__text {
  color: var(--accent-color);
}
.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  margin-left: 120px;
}

.nav__item {
  &:not(:last-child) {
    margin-right: 45px;
  }
  &:last-child {
    margin-right: 55px;
  }
}

.nav__link {
  display: block;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 19px;
  line-height: 1.19;
  letter-spacing: 0.02em;

  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--main-text-color);
  transition: transform var(--transition-duration) var(--transition-timing);
  &:hover,
  &:focus {
    color: var(--accent-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
  }
}
.current {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid var(--accent-color);
}
.theme-switcher {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  transition: transform var(--transition-duration) var(--transition-timing);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    transform: scale(1.1);
  }
}
.header__mail {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-left: auto;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 19px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: transform var(--transition-duration) var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
    & > svg {
      display: block;
      fill: currentColor;
      margin-left: 3px;
    }
  }
}

.header__mail-svg {
  display: none;
}
