.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(174, 219, 225, 0.46);
  width: 100vw;
  height: 100vh;
}

.modal-card {
  padding: 30px;
  width: 879px;
  height: 635px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
}
.modal-img {
  display: block;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: fill var(--transition-duration) var(--transition-timing),
    transform var(--transition-duration) var(--transition-timing);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    transform: scale(0.8);
  }
}
.modal-info {
  width: 379px;
}
.modal-info-title {
  margin-bottom: 15px;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 23px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  color: var(--main-text-color);
}
.modal-info-span {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0.02em;
  color: var(--title-color);
  line-height: 1.17;
}
.modal-info-text {
  margin-bottom: 10px;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 23px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-svg {
  display: block;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
}
.modal-img-wrap {
  margin-right: 40px;
  width: 400px;
  height: 438px;
}
.modal-content-wrap {
  display: flex;
}
