body {
  position: relative;
  font-family: DM Sans;
  background-color: rgba(29, 140, 160, 0.2);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}
