.menu {
  width: 500px;
  // margin: 0 auto;
  margin-bottom: 150px;
}
.menu__list {
  background-color: rgba(29, 140, 160, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

// .menu__item {
// }

.menu__link {
  padding: 10px;
  display: block;
  font-weight: 600;
  font-size: 25px;
  font-family: Relaway;

  color: var(--title-color);
  cursor: pointer;
  transform: scale(1);

  transition: transform var(--transition-duration) var(--transition-timing);
  &:hover,
  &:focus {
    color: var(--accent-color);
    transform: scale(2);
  }
}

.card {
  // display: flex;
  justify-content: center;
}

.card__list {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin: -15px;
  justify-content: center;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, calc((100% - 90px) / 3));
}

.card__item {
  border: 1px solid var(--main-text-color);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  min-width: 370px;
}

.card__info {
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #ffffff;
}

.card__name {
  margin-bottom: 16px;
  font-family: Relaway;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  color: #212121;
}

.card__btn {
  margin: 0 auto;
  cursor: pointer;
  display: block;

  background: var(--title-color);
  border: 1px solid var(--main-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  padding: 10px 37px;
  max-width: 175px;

  color: var(--white-color);
}

.card__img {
  height: 294px;
}
