:root {
  --main-text-color: #000000;
  --title-color: #188ca1;
  --accent-color: #24cfed;
  --bg-color: rgba(29, 140, 160, 0);
  --back-drop-bg-color: rgba(174, 219, 225, 0.46);
  --transition-duration: 400ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --white-color: #ffffff;
}
