@import './common';
@import './example';
@import './resets';
@import './variables';

@import './searchByCategory';
@import './searchByIngredients';
@import './entrance-modal';

@import './header';
@import './hero';
@import './sectionAbc';
@import './footer';

@import './changeTheme';

@import './searchByName';
@import './modalInfoCard';
@import './filmoteka';
@import './modalCardFilm';
@import './favNav';

