<div id='entrance-modal' class="backdrop-entrance ">
  <div class="modal">
    <span class="modal__span">
      <img
        src="/src/images/18-year-rubber-stamp.svg"
        alt="18 + warning"
        width="150"
        height="150"
      />
    </span>
    <p class="modal__text">
      The site contains information that is not mentioned in the surrounding
      space, under the age of majority. To enter the site, verify your age.
    </p>
    <button type="button" class="modal__btn btn">
      I confirm that I am over 18 years old
    </button>
    <p class="modal__text modal__text-rules">
      We use cookies, developed by our experts and third parties, to analyze the
      activities on our website, which allows us to improve user experience and
      service. By continuing to browse the pages of our site, you accept the
      terms of its use. For more information see our personal data processing
      policy.<br />
      Read more
      <a
        href="https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D0%BE%D0%BD%D0%B8%D0%BC%D0%BD%D1%8B%D0%B5_%D0%B0%D0%BB%D0%BA%D0%BE%D0%B3%D0%BE%D0%BB%D0%B8%D0%BA%D0%B8
"
        target="_blank"
        rel="noreferrer noopener"
        class="modal__policy"
        >here</a
      >
    </p>
  </div>
</div>
