<section class="footer">
  <div class="container footer-container">
    <div class="footer__wrap">
      <a href="./index.html" class="footer__logo"
        >The<span class="logo__text-footer">BAR</span></a
      >
    <a href="mailto:devs-ua@gmail.com" class="footer__mail"
      >devs-ua@gmail.com</a
    >
<p class="footer__text">&#169 2022 Created by Devs-ua</p>
  </div>
  <ul class="social">
    <li class="social__item">
      <a href="#" class="social__link">
        <svg class="social__svg">
          <use href="./images/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link">
        <svg class="social__svg">
          <use href="./images/symbol-defs.svg#icon-github"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link">
        <svg class="social__svg">
          <use href="./images/symbol-defs.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
  </div>
</section>
