<div class="container header__container">
  <a href="./index.html" class="logo">The<span class="logo__text">BAR</span></a>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="./index.html" class="nav__link current">Home</a>
      </li>
      <li class="nav__item">
        <a href="./partials/searchByName.html" class="nav__link"
          >Search by name</a
        >
      </li>
      <li class="nav__item">
        <a href="/src/films.html" class="nav__link">Filmoteka</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Search by ingredients</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Search by category</a>
      </li>
    </ul>
  </nav>
  <button type="button" class="theme-switcher">
    <svg class="switcher__svg" width="30" height="30">
      <use href="./images/symbol-defs.svg#icon-moon"></use>
    </svg>
  </button>
  <a href="mailto:devs-ua@gmail.com" class="header__mail"
    >devs-ua@gmail.com
    <svg class="header__mail-svg" width="30" height="25">
      <use href="./images/symbol-defs.svg#icon-mail"></use></svg
  ></a>
</div>
