<div class="container header__container">
  <a href="./index.html" class="logo">The<span class="logo__text">BAR</span></a>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="./index.html" class="nav__link current">Home</a>
      </li>
      <li class="nav__item"><a href="" class="nav__link">Seach by name</a></li>
      <li class="nav__item">
        <a href="" class="nav__link">Seach by ingradients</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Seach by category</a>
      </li>
    </ul>
  </nav>
  <button type="button" class="theme-switcher">npm
    <svg class="switcher__svg" width="30" heigth="30">
      <use href="./images/symbol-defs.svg#icon-moon"></use>
    </svg>
  </button>
  <a href="mailto:devs-ua@gmail.com" class="header__mail">devs-ua@gmail.com</a>
</div>
