<section class="section">
  <div class="container">
    <div class="hero__info">
      <button type="button" class="hero__btn">Free drinks here!</button>
      <h1 class="hero__title">Ooops, you can find any cocktail</h1>
      <div class="menu">
        
        <ul class="menu__list">
          <li class="menu__item"><a href="" class="menu__link">A</a></li>
          <li class="menu__item"><a href="" class="menu__link">B</a></li>
          <li class="menu__item"><a href="" class="menu__link">C</a></li>
          <li class="menu__item"><a href="" class="menu__link">D</a></li>
          <li class="menu__item"><a href="" class="menu__link">E</a></li>
          <li class="menu__item"><a href="" class="menu__link">F</a></li>
          <li class="menu__item"><a href="" class="menu__link">G</a></li>
          <li class="menu__item"><a href="" class="menu__link">H</a></li>
          <li class="menu__item"><a href="" class="menu__link">I</a></li>
          <li class="menu__item"><a href="" class="menu__link">J</a></li>
          <li class="menu__item"><a href="" class="menu__link">K</a></li>
          <li class="menu__item"><a href="" class="menu__link">L</a></li>
          <li class="menu__item"><a href="" class="menu__link">M</a></li>
        </ul>
        <ul class="menu__list">
          <li class="menu__item"><a href="" class="menu__link">N</a></li>
          <li class="menu__item"><a href="" class="menu__link">O</a></li>
          <li class="menu__item"><a href="" class="menu__link">P</a></li>
          <li class="menu__item"><a href="" class="menu__link">Q</a></li>
          <li class="menu__item"><a href="" class="menu__link">R</a></li>
          <li class="menu__item"><a href="" class="menu__link">S</a></li>
          <li class="menu__item"><a href="" class="menu__link">T</a></li>
          <li class="menu__item"><a href="" class="menu__link">U</a></li>
          <li class="menu__item"><a href="" class="menu__link">V</a></li>
          <li class="menu__item"><a href="" class="menu__link">W</a></li>
          <li class="menu__item"><a href="" class="menu__link">X</a></li>
          <li class="menu__item"><a href="" class="menu__link">Y</a></li>
          <li class="menu__item"><a href="" class="menu__link">Z</a></li>
        </ul>
        <ul class="menu__list">
          <li class="menu__item"><a href="" class="menu__link">1</a></li>
          <li class="menu__item"><a href="" class="menu__link">2</a></li>
          <li class="menu__item"><a href="" class="menu__link">3</a></li>
          <li class="menu__item"><a href="" class="menu__link">4</a></li>
          <li class="menu__item"><a href="" class="menu__link">5</a></li>
          <li class="menu__item"><a href="" class="menu__link">6</a></li>
          <li class="menu__item"><a href="" class="menu__link">7</a></li>
          <li class="menu__item"><a href="" class="menu__link">8</a></li>
          <li class="menu__item"><a href="" class="menu__link">9</a></li>
          <li class="menu__item"><a href="" class="menu__link">0</a></li>
        </ul>
      </div>
      
    </div>
    
    <div class="hero__img-wrap">
      <img
        src="./images/pngkey.com-drinks-png-9704159.png"
        alt="Cocktails"
        width="801"
        height="644"
        class="hero__img"
      />
    </div>
    
  </div>
</section>
