<div class="backdrop visually-hidden">
  <div class="modal modal-card-film">
    <button class="modal-close" type="button" name="close">
      <svg class="modal-svg" width="32" heigth="32">
        <use href="/src/images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="modal-film-wrap">
      
    </div>
  </div>
</div>
<!--   
  <img class="modal-film-image" src="" alt="">
  <h2 class="modal-film-title"></h2>
  <ul class="modal-film-properties-list">
    <li class="modal-film-properties-item">Vote/Votes</li>
    <li class="modal-film-properties-item">Popularity</li>
    <li class="modal-film-properties-item">Original Title</li>
    <li class="modal-film-properties-item">Genre</li>
  </ul>
  <ul class="modal-film-value-list">
    <li class="modal-film-value-item"></li>
    <li class="modal-film-value-item"></li>
    <li class="modal-film-value-item"></li>
    <li class="modal-film-value-item"></li>
  </ul>
  <h3 class="modal-film-about-title">ABOUT</h3>
  <p class="modal-film-about-text"></p>
  <ul class="modal-film-button-list">
    <li class="modal-film-button-item"><button class="modal-film-button" type="button">ADD TO WATCHED</button></li>
    <li class="modal-film-button-item"><button class="modal-film-button" type="button">ADD TO QUEUE</button></li>
  </ul> -->
