<div class="backdrop visually-hidden">
  <div class="modal modal-card">
    <div class="modal-img-wrap">
      <img class="modal-img" src="#" alt="#" />
    </div>
    <button class="modal-close" type="button" name="close">
      <svg class="modal-svg" width="32" heigth="32">
        <use href="../images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="modal-info">
      <h3 class="modal-info-title">
        <span class="modal-info-span">Name:</span>
      </h3>
      <p class="modal-info-text">
        <span class="modal-info-span">Type of Glass:</span>
      </p>
      <p class="modal-info-text">
        <span class="modal-info-span">Instruction:</span>
      </p>
      <p class="modal-info-text">
        <span class="modal-info-span">Ingredients:</span>
      </p>
    </div>
  </div>
</div>
