<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../sass/index.scss" />
    <title>SearchByName</title>
  </head>
  <body class="page">
    <header>
      <div class="container header__container">
        <a href="../index.html" class="logo"
          >The<span class="logo__text">BAR</span></a
        >
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../index.html" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a href="../partials/searchByName.html" class="nav__link current"
                >Search by name</a
              >
            </li>
            <li class="nav__item">
              <a href="" class="nav__link">Search by ingredients</a>
            </li>
            <li class="nav__item">
              <a href="" class="nav__link">Search by category</a>
            </li>
          </ul>
        </nav>
        <button type="button" class="theme-switcher">
          <svg class="switcher__svg" width="30" height="30">
            <use href="../images/symbol-defs.svg#icon-moon"></use>
          </svg>
        </button>
        <a href="mailto:devs-ua@gmail.com" class="header__mail"
          >devs-ua@gmail.com</a
        >
      </div>
    </header>
    <main>
      <section class="section">
        <div class="container">
          <form class="form_input">
            <button type="submit" class="btn-search">Search</button>
            <input
              type="text"
              class="search"
              name="query"
              placeholder="Please write the name of the cocktail"
            />
          </form>

          <div class="card">
            <ul class="card__list"></ul>
          </div>
        </div>
      </section>
      <include src="../src/partials/modalInfoCard.html"></include>
    </main>

    <!-- <script type="module" src="../index.js"></script> -->
    <script type="module" src="../search.js"></script>
    <!-- <script type="module" src="../js/modalInfoCard.js"></script> -->
  </body>
</html>
